 body{
    font: 20px Arial, sans-serif;
 }

 .navbar {
    background-color: #298A08;
 }

 .quem-somos{
    background-color: #FF8C00;
    color: white;
 }

 .margin{
    padding-bottom: 50px;
    padding-top: 10px;
 }

 .parceiros{
    background-color: #1E90FF;
 }

 .bg-footer{
    background-color: black;
    color: white;
 }